<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
</head>

<body class="register min-h-screen bg-black flex items-center justify-center overflow-hidden" data-page="cashier">
  
  <main class="relative w-full max-w-[1920px] aspect-video bg-black-200 shadow-2xl overflow-hidden">
    
    <img src="{{ url_for('static', filename='images/day_StoreInside.png') }}" class="absolute inset-0 w-full h-full object-cover opacity-75 z-0" style="image-rendering: pixelated;">

    <div class="character absolute left-[36%] bottom-[12%] w-[25%] h-[65%] z-10 pointer-events-none">
      <img data-art-layer="body" class="absolute inset-0 w-full h-full object-contain" style="image-rendering: pixelated;" src=""/>
      <img data-art-layer="eyes" class="absolute inset-0 w-full h-full object-contain" style="image-rendering: pixelated;" src=""/>
      <img data-art-layer="mouth" class="absolute inset-0 w-full h-full object-contain" style="image-rendering: pixelated;" src=""/>
      <img data-art-layer="accessories" class="absolute inset-0 w-full h-full object-contain" style="image-rendering: pixelated;" src=""/>
    </div>

    <div class="absolute left-[2%] bottom-[10%] w-[33%] flex flex-col justify-end z-30">
      <div class="w-full bg-white/95 border-4 border-gray-800 rounded-lg p-8 text-center text-xl font-bold shadow-lg h-[500px] flex flex-col justify-center gap-6 select-none">
          <p id="main" class="text-gray-500"> ... </p>
          <p id="main2" class="text-black"> ... </p>
      </div>
    </div>

    <div class="absolute right-[5%] bottom-[8%] w-[35%] flex flex-col items-center justify-end z-30">

      <div id="keypad-container" class="relative select-none scale-125 transform origin-bottom mt-8 mb-12">
        <section class="flex flex-col items-center justify-center w-[375px] h-[250px] rounded-lg shadow-2xl bg-[length:100%_100%] bg-no-repeat bg-center" style="background-image: url('{{ url_for('static', filename='images/keypad/keypadbase.png') }}'); image-rendering: pixelated;">
          
          <div class="keypad flex flex-row gap-[0px] w-full justify-left">
              <div class="ml-[31px] grid grid-cols-[60px_14px_55px_20px_56px] grid-rows-[40px_45px_40px_40px] gap-x-[0px] gap-y-[11px]">
                <button id="numpad_1" type="button" value="1" class="relative flex items-center justify-center w-full h-[full] text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;">1</button>
                <div></div>
                <button id="numpad_2" type="button" value="2" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;">2</button>
                <div></div>
                <button id="numpad_3" type="button" value="3" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;">3</button>

                <button id="numpad_4" type="button" value="4" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">4</button>
                <div></div>
                <button id="numpad_5" type="button" value="5" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">5</button>
                <div></div>
                <button id="numpad_6" type="button" value="6" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">6</button>

                <button id="numpad_7" type="button" value="7" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">7</button>
                <div></div>
                <button id="numpad_8" type="button" value="8" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">8</button>
                <div></div>
                <button id="numpad_9" type="button" value="9" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton2.png') }}'); image-rendering: pixelated;">9</button>

                <button id="numpad_decimal" type="button" value="." class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;">.</button>
                <div></div>
                <button id="numpad_0" type="button" value="0" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;">0</button>
                <div></div>
                <button type="button" value="" class="relative flex items-center justify-center w-full h-full text-black font-bold text-2xl bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/baseButton.png') }}'); image-rendering: pixelated;"></button>
              </div>
              <div class="ml-[31px] flex flex-col w-[78px] grid-rows-[40px_45px_40px_40px] gap-y-[11px]">
                <button type="button" value="C" class="flex-1 relative flex items-center justify-center w-full bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md"></button>
                <button id="numpad_clear" type="button" value="C" class="flex-1 relative flex items-center justify-center w-full bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/clearButton.png') }}'); image-rendering: pixelated;"></button>
                <button id="numpad_submit" type="button" class="flex-1 relative flex items-center justify-center w-full bg-[length:100%_100%] bg-no-repeat bg-center active:scale-[0.98] active:translate-y-1 transition-transform drop-shadow-md" style="background-image: url('{{ url_for('static', filename='images/keypad/enterButton.png') }}'); image-rendering: pixelated;"></button>
                <button type="button" value="C" class="flex-1 relative flex items-center justify-center w-full bg-[length:100%_100%] bg-no-repeat bg-center active:scale-95 active:translate-y-1 transition-transform drop-shadow-md"></button>
              </div>
          </div>
        </section>
      </div>

      <div class="flex flex-row gap-12 mt-4 items-center justify-center w-full">
        <button id="gunButton" class="hover:scale-110 transition-transform active:scale-95 drop-shadow-xl">
          <img src="{{ url_for('static', filename='images/items/Ammo.png') }}" class="w-20 h-20" style="image-rendering: pixelated;" />
          <p class="text-red-400">Skip customer?</p>
          <p class="text-red-400">(-1 ammo OR money penalty!)</p>
        </button>
        <button id="advanceGame" class="bg-gray-800 text-white font-bold text-3xl px-8 py-4 rounded-xl border-4 border-gray-600 hover:bg-gray-700 active:scale-95 transition-transform flex items-center gap-4 shadow-xl">
          GO TO MANAGEMENT
        </button>
      </div>
      
    </div>

    <footer class="absolute bottom-4 w-full text-center text-sm font-bold text-white/40 z-40">
      <a href="https://github.com/bgels/RestaurantSimulator" class="hover:text-white transition">
        Made by Restaurant Simulator, SoftDev P04 | 2026
      </a>
    </footer>
  </main>

  <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/animate.js') }}"></script>
</body>
</html>