<!DOCTYPE html>
<!--
  no coupon works // teamname
  Roster: Yu Lu, Ricky Lin, Jun Jie Li, Emily Mai
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col relative overflow-hidden">
  <div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden bg-black">
    <div class="absolute inset-0 sky-scroll" style="background-image: url('{{ url_for('static', filename='images/clouds.gif') }}');"></div>
    <img src="{{ url_for('static', filename='images/tnight_MainMenu.png') }}" class="absolute inset-0 w-full h-full object-cover render-pixel">``
  </div>

  <div class="min-h-screen flex flex-col bg-black/30">
      <header class="pt-12 pl-12">
      <h2 class="title text-left text-white text-[11rem] select-none font-semibold">
        Costgo!!
      </h2>
      </header>

    <main class="title items-center justify-left mb-24 pl-6 pt-32">
      <div class="flex flex-col">



        <button class="flex bg-black/30 transition-all duration-300 ease-out hover:bg-gray-400 hover:text-black hover:-translate-y-2 text-white text-[2.5rem] font-bold py-4 mx-[60px] px-2 select-none">
          <a href="/art" class="letter-hover-text">Play Game</a>
        </button>
        
        <button class="flex bg-black/30 transition-all duration-300 ease-out hover:bg-gray-400 hover:text-black hover:-translate-y-2 text-white text-[2.5rem] font-bold py-4 mx-[80px] px-2 select-none">
          <a href="/setting" class="letter-hover-text">Yo, Settings!</a>
        </button>
      </div>
    </main>
    <footer class="mb-12 text-center text-sm/8 text-gray-400">
        <a href="https://github.com/bgels/RestaurantSimulator" class="select-none hover:text-gray-300 transition">
        Made by Resturant Simulator, SoftDev P04 | 2026
        </a>
    </footer>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/animate.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/homescreen.js') }}"></script>
</body>
</html>
