<!DOCTYPE html>
<!--
  Restaurant Simulator
  Roster: Yu Lu, Ricky Lin, Jun Jie Li, Emily Mai
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col relative overflow-auto" data-page="cashier">
  <div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden">
    <div class="absolute inset-0 -z-20 sky-scroll" style="background-image: url('{{ url_for('static', filename='images/cloudDay.gif') }}');"></div>
    <img src="{{ url_for('static', filename='images/wipMenu_night_rolling.png') }}" class="absolute inset-0 w-full h-full object-cover render-pixel opacity-65">
  </div><br>

  <div class="px-6 z-10">
   <h2 class="text-center text-3xl font-bold tracking-wide text-gray-100 mt-6 mb-6"
       style="text-shadow: 2px 2px 0 #293b65, -2px 2px 0 #293b65, 2px -2px 0 #293b65, -2px -2px 0 #293b65;">Leaderboard</h2>
    
    <form method="GET" action="/leaderboard">
        <label class="text-gray-100">Sort by:</label>

        <select name="sort" onchange="this.form.submit()" class="bg-slate-800 border border-slate-700 rounded-md px-2 py-2 text-slate-200 focus:outline-none focus:ring-2 focus:ring-sky-600">
            <option value="revenue" {% if sort_by == "revenue" %}selected{% endif %}>Revenue</option>
            <option value="money" {% if sort_by == "money" %}selected{% endif %}>Money</option>
            <option value="served" {% if sort_by == "served" %}selected{% endif %}>Served</option>
            <option value="killed" {% if sort_by == "killed" %}selected{% endif %}>Killed</option>
            <option value="day" {% if sort_by == "day" %}selected{% endif %}>Day</option>
        </select>
    </form>
    <br>
    
    <table class="w-full border border-slate-700 bg-slate-800/80 text-slate-100 rounded-lg overflow-hidden">
    <tr class="hover:bg-slate-500/50">
        <th class="border border-gray-300 px-4 py-2 text-center">Rank</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Username</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Revenue</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Money</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Served</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Killed</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Day</th>
    </tr>
    {% for player in leaderboard %}
    <tr class="hover:bg-slate-500/50">
        <td class="border border-gray-300 px-4 py-2 text-center">{{ loop.index }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[0] }}</td> 
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[1] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[2] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[3] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[4] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[5] }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <footer class="mt-auto text-center mb-12 pr-6 pt-6 text-sm/8 text-gray-100">
      <a href="https://github.com/bgels/grocery" class="select-none hover:text-gray-300 transition">
      Made by Restaurant Simulator, SoftDev P04 | 2026
      </a>
  </footer>
</body>
</html>
