<!DOCTYPE html>
<!--
  Restaurant Simulator
  Roster: Yu Lu, Ricky Lin, Jun Jie Li, Emily Mai
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
</head>

<body class="min-h-screen flex flex-col relative overflow-auto" data-page="cashier">
  <div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden">
    <div class="absolute inset-0 -z-20 sky-scroll" style="background-image: url('{{ url_for('static', filename='images/cloudDay.gif') }}');"></div>
    <img src="{{ url_for('static', filename='images/wipMenu_night_rolling.png') }}" class="absolute inset-0 w-full h-full object-cover render-pixel opacity-65">
  </div><br>

  <div class="px-6 z-10">
   <h2 class="text-center text-3xl font-bold tracking-wide text-gray-100 mt-6 mb-6"
       style="text-shadow: 2px 2px 0 #293b65, -2px 2px 0 #293b65, 2px -2px 0 #293b65, -2px -2px 0 #293b65;">Leaderboard</h2>
    
    <form method="GET" action="/leaderboard">
        <label class="text-gray-100">Sort by:</label>

        <select name="sort" onchange="this.form.submit()" class="bg-slate-800 border border-slate-700 rounded-md px-2 py-2 text-slate-200 focus:outline-none focus:ring-2 focus:ring-sky-600">
            <option value="revenue" {% if sort_by == "revenue" %}selected{% endif %}>Revenue</option>
            <option value="money" {% if sort_by == "money" %}selected{% endif %}>Money</option>
            <option value="served" {% if sort_by == "served" %}selected{% endif %}>Served</option>
            <option value="killed" {% if sort_by == "killed" %}selected{% endif %}>Killed</option>
            <option value="day" {% if sort_by == "day" %}selected{% endif %}>Day</option>
        </select>
    </form>
    <br>
    
    <table class="w-full border border-slate-700 bg-slate-800/80 text-slate-100 rounded-lg overflow-hidden">
    <tr class="hover:bg-slate-500/50">
        <th class="border border-gray-300 px-4 py-2 text-center">Rank</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Username</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Revenue</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Money</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Served</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Killed</th>
        <th class="border border-gray-300 px-4 py-2 text-center">Day</th>
    </tr>
    {% for player in leaderboard %}
    <tr class="hover:bg-slate-500/50">
        <td class="border border-gray-300 px-4 py-2 text-center">{{ loop.index }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[0] }}</td> 
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[1] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[2] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[3] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[4] }}</td>
        <td class="border border-gray-300 px-4 py-2 text-center">{{ player[5] }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <footer class="mt-auto text-center mb-12 pr-6 pt-6 text-sm/8 text-gray-100">
      <a href="https://github.com/bgels/grocery" class="select-none hover:text-gray-300 transition">
      Made by Restaurant Simulator, SoftDev P04 | 2026
      </a>
  </footer>
</body>
   <div class="fixed left-6 top-1/2 -translate-y-1/2 flex flex-col gap-4">
    <a href="/"
       class="group flex items-center justify-center w-14 h-14 rounded-full bg-blue-500 text-white overflow-hidden transition-all duration-300 hover:w-40 hover:rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="w-6 h-6 flex-shrink-0"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l9-9 9 9M5 10v10h14V10"/>
        </svg>

        <span class="max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 group-hover:max-w-24 group-hover:ml-3">
            Home
        </span>
    </a>
    <a href="/settings"
       class="group flex items-center justify-center w-14 h-14 rounded-full bg-gray-700 text-white overflow-hidden transition-all duration-300 hover:w-40 hover:rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="w-6 h-6 flex-shrink-0"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11.983 5.25a1.5 1.5 0 013.034 0l.168 1.2a6.75 6.75 0 012.007.831l1.106-.493a1.5 1.5 0 011.964.803l.72 1.56a1.5 1.5 0 01-.488 1.888l-.938.77a6.78 6.78 0 010 1.662l.938.77a1.5 1.5 0 01.488 1.888l-.72 1.56a1.5 1.5 0 01-1.964.803l-1.106-.493a6.75 6.75 0 01-2.007.831l-.168 1.2a1.5 1.5 0 01-3.034 0l-.168-1.2a6.75 6.75 0 01-2.007-.831l-1.106.493a1.5 1.5 0 01-1.964-.803l-.72-1.56a1.5 1.5 0 01.488-1.888l.938-.77a6.78 6.78 0 010-1.662l-.938-.77a1.5 1.5 0 01-.488-1.888l.72-1.56a1.5 1.5 0 011.964-.803l1.106.493a6.75 6.75 0 012.007-.831l.168-1.2z"/>
        </svg>

        <span class="max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 group-hover:max-w-24 group-hover:ml-3">
            Settings
        </span>
    </a>

    <a href="/logout"
       class="group flex items-center justify-center w-14 h-14 rounded-full bg-red-500 text-white overflow-hidden transition-all duration-300 hover:w-40 hover:rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="w-6 h-6 flex-shrink-0"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H9m4 8H5a2 2 0 01-2-2V6a2 2 0 012-2h8"/>
        </svg>

        <span class="max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 group-hover:max-w-24 group-hover:ml-3">
            Logout
        </span>
    </a>

</div>
</html>
