<!DOCTYPE html>
<!--
  no coupon works // teamname
  Roster: Yu Lu, Ricky Lin, Jun Jie Li, Emily Mai
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
</head>


<body class="register min-h-screen bg-[#1a1a24] flex items-center justify-center font-sans text-gray-900 select-none" data-page="manager">
  
  <main class="relative w-full max-w-[1920px] aspect-video overflow-hidden shadow-2xl">
    
    <img src="{{ url_for('static', filename='images/manager.png') }}" class="absolute inset-0 w-full h-full object-fill render-pixel pointer-events-none -z-10">

    <section class="absolute top-[12%] left-[8%] w-[35%] h-[73%] overflow-y-auto px-6 py-4">
      <div id="productGrid" class="grid grid-cols-2 lg:grid-cols-3 gap-6 pb-8 pt-4">
        
        <div class="col-span-full text-left text-xl font-bold text-yellow-700 mt-2 mb-1 border-b border-gray-400 pb-2">Upgrades</div>
        <div class="col-span-full text-left text-xl font-bold text-green-700 mt-6 mb-1 border-b border-gray-400 pb-2">Items</div>
        <div class="col-span-full text-left text-xl font-bold text-blue-700 mt-6 mb-1 border-b border-gray-400 pb-2">Products</div>
      
      </div>
    </section>

    <section class="flash absolute top-[11%] left-[49%] w-[22%] h-[31%] flex flex-col items-center justify-center px-4 text-center">
        <p id="main" class="text-lg font-medium">Hasn't been changed</p>
        <p id="main2" class="text-sm text-gray-600 mt-2 mb-4">This hasn't been changed</p>
        
        <button id="advanceGame" class="mt-2 select-none border-2 border-gray-800 px-6 py-2 rounded hover:bg-gray-800 hover:text-white transition font-bold shadow-sm">
          Next DAY
        </button>
    </section>

    <section class="absolute top-[56%] left-[49%] w-[43%] h-[30%] px-8 py-4 flex flex-col justify-between">
        
        <div class="w-full">
          <p id="selectedProductName" class="text-xl font-bold mb-1 border-b border-gray-400 pb-2 text-center">Select an item</p>

          <div class="flex justify-center max-h-[96px]">
            <img id="selectedProductImage" class="w-24 h-24 render-pixel hidden" src="" onerror="this.style.display='none'">
          </div>
          <div class="grid grid-cols-2 gap-4 text-lg px-4">
            <div class="flex flex-col gap-1">
              <p id="selectedProductOwned">Owned: --</p>
              <p id="selectedProductBuyPrice">Buy Price: --</p>
            </div>
            <div class="flex flex-col gap-1">
              <p id="selectedProductSellPrice">Sell Price: --</p>
              <p id="selectedProductTotal" class="text-green-700 font-bold">Total Cost: --</p>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-3 items-center mt-2">
          <button id="buySelectedStock" class="w-1/2 border-2 border-gray-800 px-4 py-2 rounded hover:bg-gray-800 hover:text-white transition hidden font-bold">
            Buy
          </button>
          
          <div id="amountSelectorContainer" class="flex justify-center gap-3 hidden">
            <button class="select-none border-2 border-gray-800 px-4 py-1 rounded buyAmountButton hover:bg-gray-800 hover:text-white transition font-bold" data-amount="1">x1</button>
            <button class="select-none border-2 border-gray-800 px-4 py-1 rounded buyAmountButton hover:bg-gray-800 hover:text-white transition font-bold" data-amount="5">x5</button>
            <button class="select-none border-2 border-gray-800 px-4 py-1 rounded buyAmountButton hover:bg-gray-800 hover:text-white transition font-bold" data-amount="10">x10</button>
          </div>
        </div>

    </section>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/animate.js') }}"></script>
  </main>
</body>
</html>
