<!DOCTYPE html>
<!--
  no coupon works // teamname
  Roster: Yu Lu, Ricky Lin, Jun Jie Li, Emily Mai
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery Simulator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
</head>

<body class="min-h-screen flex flex-col bg-[var(--steam-bg)]">
  <main class="bg-no-repeat bg-cover flex-1 px-20 py-10 bg-white">
    <h2 class="mx-auto text-center text-2xl">Costgo!!</h2>
  </main>

  <footer class="mb-12 pr-6 pt-6 text-center text-sm/8 text-gray-100">
      <a href="https://github.com/bgels/RestaurantSimulator" class="select-none hover:text-gray-300 transition">
      Made by i forgot team name lol, SoftDev P04 | 2026
      </a>
  </footer>
</body>
</html>
